.experience-container{
    margin: 4rem 0;
    position: relative;
    margin-left: 30px;
    margin-right: 20px;
}

.experience-container h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.arrow-left,
.arrow-right{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background: #130f2a;
    position: absolute;
    top: 55%;
    z-index: 2;
    cursor: pointer;
}

.arrow-left{
    left: -1.5rem;
}

.arrow-right{
    right: -0.2rem;
}

.experience-card{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.slick-track{
    width: fit-content;
}

@media (max-width: 320px){
    .experience-container{
        margin-bottom: 2rem;
    }

    .experience-card{
        height: 520px;
    }
}
@media (max-width: 425px){
    .experience-container{
        margin-bottom: 1rem;
    }

    .experience-card{
        height: 430px;
    }
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

.experience-container {
    animation: pulse 3s ease-in 1s;
}