.projectCard{
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 2rem;
    margin: 1.0rem;
    max-width: 600px;
    min-height: 300px;
}
@media (max-width: 375px){
    .projectCard{
        padding: 1.3rem;
    }
}

.projectCard h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.project-content p{
    font-size: 1.3rem;
    font-weight: 500;
}

.projectCard:hover{
    filter: blur(0.6px);
}

.project-content p{
    pointer-events: auto;
}

.ancher-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    text-decoration: none;
    margin: 5px;
}

.ancher-link button{
    background: #6751b9;
    color: #fff;
    padding: 3px 10px;
    min-width: 80px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

@media (max-width: 425px){
    .project-content p{
        font-size: 1.0rem;
    }
}

@keyframes grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

.movie-trailer{
    animation: grow 2s ease-in-out 0.3s;
}

.match-app{
    animation: grow 2s ease-in-out 0.8s;
}

.game-app{
    animation: grow 2s ease-in-out 1.2s;

}