.footer-page{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.icon{
    margin: 10px;
}