.footer-page{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.icon{
    margin: 10px;
}


@media(max-width: 425px) {
    .footer-page{
        flex-direction: column;
    }

    .icons{
        margin: 10px 0;
    }

    .footer-ul li a{
        font-size: 1.4rem;
    }
}

@media (max-width: 375px){
    .footer-ul li a{
        font-size: 1.1rem;
    }
}