.contact-container{
    margin: 4rem 4rem;
    position: relative;
}

.contact-container h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.contact-content{
    display: flex;
    gap: 3rem;
}

.contact-detail-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.contact-detail-card .icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #3d3072;
    margin-bottom: 0.8rem;
}

.contact-detail-card p{
    font-size: 1.2rem;
    font-weight: 400;
}

.contact-form-content{
    width: 100%;
}

form{
   display: flex;
   flex-direction: column;
   grid-gap: 1.5rem; 
}

.name-container{
    display: flex;
    align-items: center;
    grid-gap: 2rem;
}

form input,
form textarea{
    flex: 1;
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
    background: #130f2a;
    border-radius: 0.6rem;
    border: 1.5px solid #6751b9;
    padding: 1rem;
}

form button{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border: 1.5px solid #a892fe;
    border-radius: 0.6rem;
    background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:hover{
    color: #a892fe;
    background: transparent;
}

.git-link{
    color: #fff;
}

@media (max-width: 768px){
    .contact-content{
        flex-direction: column-reverse;
    }

    .contact-container h4{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .contact-container{
        margin: 2rem 2rem;
        position: relative;
    }
}

@media (max-width: 375px){
    form input,
    form textarea{
        font-size: 0.8rem;
    }

    .contact-detail-card p{
        font-size: 0.8rem;
    }

    .name-container{
        grid-gap: 0.8rem;
    }
    form{
        grid-gap: 0.8rem;
    }

    .contact-container{
        margin: 1.5rem 1.5rem;
        position: relative;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .contact-form-content {
    animation: bounce 1.5s ease-in-out 3;
  }